*
{
    
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.hero
{
    height: 100vh;
    width: 100%;
    background-image:url("image/xndmxrfhliweofif9jty.webp") ;
    background-size: cover;
    background-position: center;
}   
nav{
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;

}
nav ul
{
    display: flex;
    
}
nav ul li{
    padding: 10px 20px;
    
}
.name
{
    color: white;
    font-size: 30px;
}
span
{
    color: yellow;
}
nav ul li a{

    color:white;
    font-weight: bold;
    text-decoration: none;
}
nav ul li: hover{
    color:red;
    transition: 1s;
}
.btn
{
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 40%;
    text-decoration: none;

}
.contant
{
    top:45%;
    left: 10%;
    position: absolute;
    transform: translate(-50%,-50%);
}
h3{
    color: pink;
    font-size: 10px;
    margin-bottom: 40px;
}
h2
{
    color: white;
    margin-bottom: 10px;
}
h4
{
    color: white;
}
.sub form
{
    width: 400px;
    position: relative;
}
.sub form input:first-child
{
display: inline-block;
width: 100%;
padding: 15px 120px 13px 14px;
border: 3px solid red;
border-radius: 40px;
}
.sub form input:last-child
{
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: red;
  color: white;
  top:6px;
  right: 7px;
  position: absolute;
  box-shadow: 0 0 20px red;
}
.about_me
{
    width: 100%;
    padding: 100px 0px;
    background-color: darkgray;

}
.about_me img
{
    height: 300px;
    width: 30px;
}
.about_contant
{
    color: white;
    margin-left: 50px;

}
.main
{
    display: flex;
}
.about_contant h3
{
    color: white;
    font-size: 50px;
    letter-spacing: 2px;

}
.about_contant h5
{
    color: white;
    font-size: 50px;
letter-spacing: 3px;
}
.about_contant p
{
    color: white;
    font-size: 15px;
    letter-spacing: 3px;

}
.btn_talk
{
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 40%;
    text-decoration: none;

}
.btn_talk:hover
{
    background-color: transparent;
    border: 2px solid red;
    cursor: pointer;
}