*
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
   
}

/* start of header part*/

.option
{
    width: 100%;
    height: 60px;
    background-color:black ;
    position: sticky;
    top: 0px;
    left: 0px;
    overflow: hidden;
} 
.hero
{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../image/sath20.jpg');
}
.option h3
{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 19px;
    left: 50px;
    letter-spacing: 0px;
    align-items: center;
    
}
.option span
{
    gap: 4px;
    color: rgb(98, 145, 237);
    padding: 10px;

}
nav li
{
    list-style: none;
}
nav li a
{
    list-style: none;
    text-decoration: none;
    color: white;
}
nav li a:hover
{
    color: rgb(50, 12, 244);
    padding: 2px;
    background-color: rgb(38, 228, 79);
}
nav
{
    display: flex;
    position: absolute;
    top: 18px;
    right: 50px;
    gap: 18px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.btn
{
    background-color: red;
    padding: 6px 6px;
    color: white;
    font-weight: bold;
    border-radius: 40%;
    text-decoration: none;
    font-size: 10px;

}
nav .btn:hover
{
  color: rgb(29, 29, 204);
  background: transparent;
  transition: .5s;
  border: 1px solid white;
  border-color: white;
  transform: scale(1.3);
  cursor: pointer;
}

/*end of header part */
/* start of contant part */

  

.hero .image #image
{
    width: 50px;
    height: 50px;
    left: 0%;
    position: absolute;
    margin-top: 2px
    
}
.hero .image #image:hover
{
   cursor: pointer;
}
.contant .mid
 {
    
    float: initial;
    top: 30%;
    left: 38%;
    position: absolute;

}
.contant .mid p
{
    font-size: 12px;
    color: white;
    
}
.contant .mid h3
{
    color: rgb(45, 34, 246);
    font-size: 30px;
    display: flex;
    gap: 14px;
}
.sub form
{
    margin-top: 20%;
    position: absolute;
    margin-inline:10% ;
    left: 350px;
}
.sub form input:first-child
{
    width: 100%;
    border-radius: 0%;
    border-color: rgb(75, 25, 225);
    padding: 7px 140px 10px 14px;
    display: inline-block;
    border-radius: 50px;

}
.sub form input:last-child
{
    top: 3px;
    border: none;
    border-radius: 50px;
    right: 3px;
    bottom: 3px;
    position: absolute;
    padding: 5px 5px;
    display: inline-block;
    box-shadow: 0px 0 40px #0051ff;
    background-color: rgb(65, 17, 224);
    color: white;
}

input[type="text"]::placeholder
{

    color: rgb(26, 20, 212)
}
.sub form input:last-child:hover
{
    cursor: pointer;
}
/* end of contant part */

/* start of about me part */
.about_me
{
    background-color: rgb(9, 8, 9);
    border-radius: 5px; 
    position: relative;
    height: 600px;
}
.about_me .aboutcontant #about1
{
  
   top: 80px;
   left: 11%;
   position: absolute;
   text-align: center;
   color: white;
    
    
}
.about_me .main img
{
    height: 300px;
    border-radius: 40px;
    position: relative;
    top: 150px;
    margin-left: 10%;
    box-shadow: 5px 5px 19px;
   
}
.about_me .main img:hover
{
    transform: scale3d(1.3);
    background: transparent;
    cursor: pointer;
}
.about_me .card1
{
    height: 300px;
    width: 600px;
    border-radius: 40px;
    background-color: rgb(234, 239, 235);
    position: absolute;
    top: 150px;
    right: 200px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    word-spacing: 4px;
    row-gap: 2px;
    box-shadow: 1px 1px 19px;
}
.about_me .card1:hover
{
    background-color: rgb(37, 169, 246);
    color: white;
    transform: scale3d(1.3);
    background: transparent;
    
}
.card1 a
{
    text-decoration: none;
    padding: 5px 5px;
    background-color: blue;
    color: white;
    border-radius: 40px;

}
/* end of about me part*/
/* start of Skills and Project part  */

.skill
{
    background-color: rgb(9, 8, 9);
    border-radius: 5px; 
    height: 600px;
    width: 100%;
}
#hd0
{
    color: white;
    text-align: center;
    padding-top: 4%;
}
.card #hd1
{
    
    text-align: center;
    font-size: 15px;
    margin-top: 3%;
}
.card li
{
    list-style: none;
    text-align: center;
    margin-top: 7%;
}
.box
{
    display: flex;
    color: rgb(14, 14, 14);
    gap: 30px;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
}
.box .card
{
    width: 400px;
    height: 300px;
    background-color: white;
    margin-top: 10%;
    align-items: center;
    border-radius: 40px;
    color: rgb(10, 9, 9);
    box-shadow: 1px 1px 19px;
}
.box .card:hover
{
    background-color: rgb(29, 101, 235);
    color: white;
}
.card a
{
  justify-content: center;
  margin-left: 45%;
  margin: bottom 1px;
}
.card p
{
    text-align: center;
    margin-top: 7%;
}
.git
{
    font-size: 25px;
    padding: 5px 5px;
    background-color:rgb(17, 8, 93);
    color: rgb(224, 11, 11);
    border-radius: 40%;
}
.git:hover
{
    transform: scale3d(1.3);
    background: transparent;
    color: white;
}
.card .card3 li
{
   position: relative;
   margin-left: 30px;
   
}

/* end of Skills and Project part */